<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button>
            <span
              [ngStyle]="
                connect == false ? { color: 'red' } : { color: 'green' }
              "
              class="material-icons"
              >cloud_done</span
            >
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer-content>
    <div fxFlex fxLayout="row" fxLayoutAlign="center">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Basic">
          <div class="Basic">
            <form [formGroup]="shortForm" (ngSubmit)="onSubmit()" class="Form">
              <div class="example-container">
                <mat-form-field appearance="fill" class="FormField">
                  <mat-label>Enter a valid URL</mat-label>
                  <input
                    type="url"
                    matInput
                    placeholder="https://www.validurl.io"
                    formControlName="url"
                    required
                  />
                </mat-form-field>
              </div>

              <div>
                <button
                  mat-button
                  color="primary"
                  type="submit"
                  value="send"
                  class="btn btn-block btn-success"
                >
                  Add
                </button>
                <p
                  class="error"
                  *ngIf="
                    (shortForm.controls.url.errors?.required &&
                      shortForm.controls.url.touched) ||
                    msgError
                  "
                >
                  You need introduce a correct format of URL
                </p>
                <p>
                  {{ response || resError }}
                </p>
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Custom">
          <div class="Basic">
            <form
              [formGroup]="customForm"
              (ngSubmit)="onSubmitCustom()"
              class="Form"
            >
              <div class="example-container">
                <mat-form-field appearance="fill" class="FormField">
                  <mat-label>Enter a valid URL</mat-label>
                  <input
                    type="url"
                    matInput
                    placeholder="https://www.validurl.io"
                    formControlName="url"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="example-container">
                <mat-form-field appearance="fill" class="FormField">
                  <mat-label>Enter a valid ShortID</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="ABc456"
                    formControlName="short"
                    required
                  />
                </mat-form-field>
              </div>

              <div>
                <button
                  mat-button
                  color="primary"
                  type="submit"
                  value="send"
                  class="btn btn-block btn-success"
                >
                  Add
                </button>
                <p
                  class="error"
                  *ngIf="
                    (customForm.controls.url.errors?.required &&
                      customForm.controls.url.touched) ||
                    msgError
                  "
                >
                  You need introduce a correct format of URL
                </p>
                <p
                  class="error"
                  *ngIf="
                    (customForm.controls.short.errors?.required &&
                      customForm.controls.short.touched) ||
                    msgError
                  "
                >
                  You need introduce a correct ShortID
                </p>
                <p>
                  {{ response || resError }}
                </p>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<mat-drawer-container>
  <mat-drawer-content>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8"
    >
      <ng-container
        matColumnDef="{{ column }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

        <td mat-cell *matCellDef="let element">
          {{ element[column] }}
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="example-element-description">
              <button
                mat-raised-button
                color="primary"
                (click)="handleDelete(element?._id)"
              >
                <span class="material-icons"> restore_from_trash </span>
              </button>
            </div>
            <div class="example-element-description">
              <button
                mat-raised-button
                color="accent"
                (click)="handleCopy(element?.short)"
              >
                <span class="material-icons"> content_copy </span>
              </button>
            </div>
            <div class="example-element-description">
              <button
                mat-raised-button
                color="accent"
                (click)="handleCopyURL(element?.full)"
              >
                <span class="material-icons"> description </span>
              </button>
            </div>

            <div class="example-element-description">
              <button
                mat-raised-button
                color="accent"
                (click)="handleOpen(element?.short)"
              >
                {{ element?.short }}
              </button>
            </div>

            <div class="example-element-description">
              <p
                style="
                  text-align: center;
                  color: rgb(19, 13, 13);
                  font-size: 15px;
                "
              >
                The ShortID was created: {{ element?.created | date }} and
                <br />
                the last visit {{ element?.lastVisit | date }}
              </p>
            </div>
            <div class="example-element-description">
              <button
                mat-raised-button
                color="accent"
                (click)="handleRedirectToStart(element?._id)"
              >
                ---->
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
<mat-divider></mat-divider>

<footer>
  &copy; This is my App for the MovingWorlds Challenge 2021 Hamada®
</footer>
